*{
    background-color: #FEC7D7;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

}
#imagenPag1{
    width: 3vh;
    height: 3vh;
}

