@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');




.body {
    min-height: 100vh;
    background-color: #FEC7D7;
}




.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

}



.titulos h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #0E172C;
}

.titulos h2 {

    color: #0E172C;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2em;
}

.titulos {
    margin-top: 2em;
    margin-left: 20px;
}

.container-icon {
    background-color: #0E172C;
    display: flex;
    width: 156px;
    padding: 8px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    height: 80px;
    flex-direction: row;
}


.icon-animales {
    width: 40px;
    height: 40px;
    width: 64px;
    height: 64px;
    top: 8px;
    left: 8px;
    background-color: #85D1CE;
    border-radius: 100px;

}

.icon-form {
    background-color: #85D1CE;
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

#container-buttons {
    flex-direction: row;
}




#ContainerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 25%;
    margin-left: 10px;
    margin-right: 10px;
}


#card {
    width: auto;
    height: auto;
    border-radius: 16px;
    overflow: hidden;

}

.abajo {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btnNav {
    background-color: white;
    border: none;

}

#Home {
    background-color: #0E172C;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 80px;
    color: #85D1CE;


}



.etiquetas {
    justify-content: space-between;
    height: 70px;
    background-color: white;
    place-items: center;
    margin-left: 24px;
    margin-right: 24px;

}

.animales-text {
    background-color: #0E172C;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.d-flex {
    align-items: center;
    justify-content: flex-start;

}

#btnBack{
    position: fixed;
    background: #0E172C;
    border-radius: 50%;
    margin: 5%;
    padding: 10px;
    z-index: 1;
    width: auto;
    height: auto;
}



#imgSexo{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}


.card-body{
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-top: -31%;
    border-radius: 2% 0 0 0;
    padding: 16px 24px;

}

.nombre-sexo{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E172C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 16px 24px;
    width: 100%;
    
}

.titulo_imagen{
    display: flex;
}

#imgdetails{
    width: 100%;
    clip-path: inset(5% 0 19% 0);
    margin-top: -9%;
    
}
.raza{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 16px 24px;
    
}

.raza-edad1{
    display: flex;
    font-family: Nunito;
    font-size: 14px;
}
.raza-edad2{
    display: flex;
    font-family: Nunito;
    font-size: 14px;
}

#imgRaza{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    
    
}

#imgYear{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.corazon{
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
}


.location{
    display: flex;
    padding: 16px 24px;
}

.locationtext{
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-left: 3%;
}

#imgLocation{
    width: 24px;
    height: 24px;
    
}

.personalidad{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 24px;
}

.personalidad h1{
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#imgCariñoso{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

#imgInquieto{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#imgJugueton{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.cariño{
    display: flex;
    width: 92px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border: 2px solid #A786DF;
    border-radius: 8px;
}

.inquieto{
    display: flex;
    width: 92px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border: 2px solid #A786DF;
    border-radius: 8px;
}

.jugueton{
    display: flex;
    width: 92px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border: 2px solid #A786DF;
    border-radius: 8px;
}

.fila_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.historia{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.historiatext{
    display: flex;
    flex-direction: column;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
    margin-top: 3%;
}

#historiatitle{
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5%;
}



.perfil{
    clip-path: inset(70% 70% 0 0);
    margin-top: -65%;
    
}

#parrafo{
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
}

.contacto{
    display: flex;
}

#boton_conta{
    display: flex;
    width: 155px;
    height: 52px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 98px;
    background: var(--Black, #0E172C);
}

.boton_contactar button a{
    text-decoration: none;
    color: white;
    text-align: center;
    /* Button/Button */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.175px;
}