@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');




.body{
    min-height: 100vh;
    background-color: #FEC7D7;
}




.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    
}



.titulos h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #0E172C;
}

.titulos h2 {

    color: #0E172C;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2em;
}
.titulos{
    margin-top: 2em;
    margin-left: 20px;
}

.container-icon {
    background-color: #0E172C;
    display: flex;
    width: 156px;
    padding: 8px;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    height: 80px;
    flex-direction: row;
}

.centrar-animales{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



.icon-animales {
    width: 40px;
    height: 40px;
    width: 64px;
    height: 64px;
    top: 8px;
    left: 8px;
    background-color: #85D1CE;
    border-radius: 100px;

}

.icon-form {
    background-color: #85D1CE;
    width: 64px;
    height: 64px;
    border-radius: 100px;
}

#container-buttons {
    flex-direction: row;
}




#ContainerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 25%;
}


.card {
    width: calc(50% - 20px);
    /* Esto establece el ancho de cada tarjeta al 50% del contenedor */
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    
}

.template {
    background-color: #FEC7D7;
}

.card img {
    
}

@media (min-width: 768px) {
    .card {
        width: calc(33.33% - 20px);
        /* En pantallas más grandes, cambia a un diseño de 3 columnas */
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(25% - 20px);
        /* En pantallas aún más grandes, cambia a un diseño de 4 columnas */
    }
}

.abajo{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btnNav{
    background-color: white;
    border: none;
    
}

#Home{
    background-color: #0E172C;
    display: flex;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 80px;
    color:  #85D1CE;


}



.etiquetas {
    justify-content: space-between;
    height: 70px;
    background-color: white;
    place-items: center;
    margin-left: 24px;
    margin-right: 24px;
    
}

.animales-text {
    background-color: #0E172C;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.08px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    

}